
<div class="custom-nav">
<div class="span6">
<ul class="nav">

  <li>
    <%= link_to "Shlackers", root_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
  <li>
    <%= link_to 'New Post', new_post_path %>
  </li>
  <li> 
    
  	<%= link_to 'New Category', new_categories_path %>
  
  </li>
</ul>
</div>
  <div class="span4 offset8">
<ul class="nav">
  <li> 
  	<%= link_to 'Logout', logout_path %>
  </li>	
	<% else %>
 <li> 
  	<%= link_to "Login", login_path %>
  </li>
  <li>
  	<%= link_to "Register", register_path %>
  </li>
	<% end %>
    


 </ul>
</div>
</div>
